html{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}


body {
	background-color: #000;
	color: #bac;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}

/*MAIN CONTAINER*/

.main-container {
	display: block;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sketch-container {
	height: 100%;
	margin: auto;
	position: relative;
	width: 100%;
	z-index: 1;
}

.black-screen {
	background-color: #000;
	height: 100%;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 100%;
	z-index: -1;

	&.visible {
		opacity: 1;
		visibility: visible;
		z-index: 6;
	}
}

.cut-screen {
	background-color: #000;
	height: 100%;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 100%;
	z-index: -1;

	&.visible {
		opacity: 1;
		visibility: visible;
		z-index: 5;
	}
}

.cut-screen-header {
	font-size: 48px;
	padding-top: 60px;
	text-align: center;
}

/*SIDEBAR*/

.side-bar {
	background: transparent;
	display: block;
	height: 60px;
	opacity: 0.4;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 250px;
	z-index: 5;

	-webkit-transition: 0.5s;
    transition: 0.5s;
    &:hover {
		background-color: #281f6c;
    	opacity: 0.8;

    	.side-bar-header {
			background-color: #1f175c;
    	}

    	.tier-1-label {
			background-color: #281f6c;
    	}

    	.tier-1-menu-item {
			background: #41356c;
		}
    }

    &.open {
    	height: 100%;
		overflow: scroll;
    	.control-panel {
    		height: auto;
    	}
    	&:hover .button-container {
    		opacity: 1;
    	}
    }
}

.side-bar-header {
	background: transparent;
	cursor: pointer;
	opacity: 1;
	position: relative;
	width: 250px;
	z-index: 4;

	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.header {
	display: block;
	font-size: 24px;
	font-weight: 300;
	line-height: 60px;
	margin: 0;
	padding: 0 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;

	-webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/*TIER 1 MENU*/

ul.control-panel {
	clear: both;
	display: inline-block;
	font-weight: 300;
	height: 0;
	overflow: scroll;
	position: absolute;
	width: 250px;
	z-index: 2;

	-webkit-transition: 0.5s;
    transition: 0.5s;

	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.tier-1-menu-item {
	display: block;
	opacity: 0.6;

	-webkit-transition: 0.5s;
    transition: 0.5s;

}

.hidden {
	position: absolute;
	visibility: hidden;
}

.tier-1-label {
	clear: both;
	cursor: pointer;
	display: block;
	font-size: 18px;
	padding: 10px;
	text-align: left;
	text-transform: uppercase;
	width: 100%;

	-webkit-transition: 0.3s;
    transition: 0.3s;
}

#space-menu-toggle:checked ~ .tier-2-control-panel,
#display-menu-toggle:checked ~ .tier-2-control-panel,
#social-menu-toggle:checked ~ .tier-2-control-panel,
#self-menu-toggle:checked ~ .tier-2-control-panel {
	max-height: 400px;
}

/*TIER 2 MENU*/

ul.tier-2-control-panel {
	display: block;
	list-style-type: none;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.tier-2-control {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: 0.5s;
    transition: 0.5s;

    &.tip {
		font-size: 0.75em;
		padding: 0;
		text-align: center;
		z-index: 3;
    }

    &.portrait {
    	padding: 30px 0 10px;
    }

    &.toggle {
    	.control-header {
    		max-width: 50%;
    		padding-right: 10px;
    		text-align: right;
    		width: 100px;
    	}
    	.switch-container {
    		padding-left: 10px;
    		text-align: left;
    	}
    	.control-header, 
    	.switch-container {
    		display: inline-block;
    		float: none;
    	}
    	.control-input.switch {
    		display: inline-block;
    	}
    }
}

.control-header {
	display: block;
	font-size: 16px;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	width: 100%;

	&.toggle {
		display: inline-block;
	}
	&.active-tot {
		display: inline-block;
		width: 80px;
	}
}

.control-container {
	display: block;
	padding-bottom: 10px;

	&.switch {
		&:first-child {
			padding: 10px 0 5px 0;
		}
		&:last-child {
			padding: 5px 0 10px 0;
		}
		padding: 5px 0;
	}
	&.stat {
		.control-header {
			font-size: 14px;
			width: 80px;
		}
	}
}

.control-tip-copy {
	display: block;
	margin: 0;
	padding-bottom: 10px;
}

.control-input {
	display: block;
	position: relative;
	width: 100%;
}

.label-image {
	display: block;
	margin: 0 auto;
	opacity: 1;
	width: 40px;
}

.button-input {
	background: #c00;
	border: none;
	color: #fff;
	display: block;
    position: relative;
	width: 80%;
}

.button-input.on {
	background: #0c0;
}

.control-label {
	color: #fff;
	display: inline-block;
	font-size: 1em;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 30%;
}

.button-label {
	color: #fff;
	display: inline-block;
	height: 100%;
	position: relative;
	text-align: center;
	width: 60%;
}

.slider-container {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 40%;
}

.switch-container {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 20%;
}

.switch-label {
	color: #fff;
	display: inline-block;
	font-size: 1em;
    margin:auto; 
    position: relative;
	text-align: center;
	vertical-align: middle;
	width: 40%;
}

.button-container {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 40%;
}

.label-contents {
	display: block;
    margin:auto; 
    position: relative;
}


/* NEW STUFF */

input[type=range] {
    -webkit-appearance: none;
    border-radius: 8px;
    bottom: 0;
    display: block;
    height: 7px;
    margin:auto; 
    position: relative;
    border: 1px solid #bdc3c7;
    background-color: #fff; 
    width: 100%;

    &.switch {
	    border: 1px ridge #bdc3c7;
	    border-radius: 11px;
	    height: 20px;
	    width: 35px;

	    &.off {
		    background-color: #f00;
	    }
	    &.on {
		    background-color: #0f0;
	    }

	    &::-webkit-slider-thumb {
			width: 20px;
			height: 20px;
			border-radius: 10px;
			cursor: pointer;
		}
    }

    &.toggle {
	    background-color: #fff;
	    border: 1px solid #bdc3c7;
	    border-radius: 16px;
	    height: 30px;
	    width: 50px;

	    &::-webkit-slider-thumb {
			width: 30px;
			height: 30px;
			border-radius: 15px;
			cursor: pointer;
		}
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: #ecf0f1;
		border: 1px solid #bdc3c7;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		cursor: pointer;
	}
}

.next-button {
	background-color: #bac;
	border: none;
	color: #fff;
	display: block;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	padding: 7px 0;
	text-align: center;
	text-transform: uppercase;
	width: 80px;

	&:disabled {
		background-color: #aaa;
		color: #ccc;
	}
}

.status-bar {
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 4;

	-webkit-transition: 0.5s all;
    transition: 0.5s all;

	&:hover {

		.poem {
			opacity: 1;
		}
	}

	&.transparent {
		opacity: 0;
	}

	hr {
		border: 1px solid #ccc;
		left: 35px;
		margin: 0;
		position: absolute;
		right: 35px;
		top: 50%;
		z-index: 4;
	}
}

.status-button {
	display: inline-block;
	z-index: 5;
}

.tot-portrait {
	background-color: #f00;
	border-radius: 50%;
	display: block;
	height: 20px;
	margin: 0 auto;
	position: relative;
	width: 20px;
	animation: 2s ease-in 0s infinite bounce;
}

.tot-shadow {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	height: 5px;
	margin: 5px auto 0;
	width: 20px;
	animation: 2s ease-in 0s infinite bounceShadow;
}

@keyframes bounce {
    0%   {top: 0;}
    50%  {top: -5px;}
    100% {top: 0;}
}

@keyframes bounceShadow {
    0%   {width: 20px;}
    50%  {width: 15px;}
    100% {width: 20px;}
}

.stat-bar {
	border: 1px ridge #fff;
	height: 10px;
	vertical-align: middle;
	width: 100px;
}

.stat-value {
	background-color: #00f;
	height: 10px;
}

.stat-container {
	display: inline-block;
}

.poem {
	opacity: 1;
	text-align: center;
	width: 100%;
	transition: 0.5s all;
}

.next-button-container {
	padding: 20px 0;
}

.loop-button {
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	top: 0;
}
